.container {
    border: 1px solid;
    border-radius: 0.5em;
    padding: 1em;
    backdrop-filter: brightness(95%);
}

@media (prefers-color-scheme: light) {
    .container {
        backdrop-filter: brightness(95%);
    }
}

@media (prefers-color-scheme: dark) {
    .container {
        backdrop-filter: brightness(65%);
    }
}

h3 {
    margin: 0;
    /* padding: 2em 0; */
}

.input-group {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.bottom-bar {
    display: flex;
    gap: 1em;
}

.context-slider {
    background: #2a4e6c;
    --webkit-appearance: none;
}
.result-display {
    border-radius: 0.5em;
    padding: 0.5em;
    backdrop-filter: brightness(95%);
    border: 1px solid;
    margin-bottom: 0.5em;
}
.content-slider::-moz-range-track {
    background: #2a4e6c;
}
.roll-display {
    border-radius: 0.5em;
    padding: 0.5em 0;
}
label {
    font-variant: bold;
}
button {
    color: #c7c7c7;
    background-color: #2a4e6c;
    border: 2px solid;
    border-color: #2a4e6c;
    border-radius: 0.5em;
    padding: 1em 3em;
    font-size: 16px;
}
button:hover {
    background-color: #1e374d;
    border-color: #1e374d;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

#context {
    display: flex;
    gap: 1em;
}

.grid-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: center;
}

/* -----------------Table Styles----------------- */

table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}
th {
    background-color: #2a4e6c;
    color: #c7c7c7;
}
th,
td {
    padding: 10px;
    border: 1px solid;
}

/* required css to make rounded table (below) */
tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
