:root {
    --dark-bg: rgb(32, 32, 32);
    --dark-text: #c7c7c7;

    --light-bg: #e9e9e9;
    --light-text: rgb(32, 32, 32);
}

html {
    color-scheme: light dark;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Arial", "sans-serif";
    font-size: 14px;

    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-text), var(--dark-text));
}

main {
    padding: 1em;
}

.dark {
    color-scheme: dark;
}

.light {
    color-scheme: light;
}

/* --------------Layout Containers----------------- */

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* -----------------Table Styles----------------- */

table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}
th {
    background-color: #2a4e6c;
    color: #c7c7c7;
}
th,
td {
    padding: 10px;
    border: 1px solid;
}

/* required css to make rounded table (below) */
tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
